:root {
	--SLOT_WIDTH_SIZE: 100px;
	--SLOT_HEIGTH_SIZE: 80px;
	--SLOT_POS_LEFT:20px;
	--SLOT_POS_TOP1:400px;
	--SLOT_POS_TOP2:500px;
	--SLOT_FON_SIZE:0.5em;

	--BATTERY_LEVEL_LABEL: 15px;

}

#virtualKeyboardChromeExtensionUrlBar {
    	width:0px !important;padding: 0px !important;border-radius: 0px 0px 0px 0px !important;left:0% !important;
	position:absolute !important;

}

#virtualKeyboardChromeExtensionUrlBarTextBox{
	font-size: 0px !important;
	width: 0px !important;
	padding: 0px !important;
	height: 0px !important;
	margin: 0 !important;

}

body	{
	/* background-color: rgba(128, 128, 128, 0.623); */
	background-color: #f1dbb6;
	/* background-color: white; */
	display: flex;
	justify-content:center;
	align-items:center;
}

.modal-content {
	background: #FFFFFF;
}

.ledIndicator {
	height: 30px;
	width: 30px;
	background-color: #111;
	border-radius: 50%;
	transition: background 500ms;
	
}

.ledLabel {

	
	color: black;
	font-weight: bold;

}


#modalBatCanvas {
	margin: 0;
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	background-color: #FFFFFF;
}
  
#mainBatCanvas {
	margin: 0;
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: #f1dbb6;
}
  

#modalBatteryLevel {
	font-size: 40px;
	font-family: 'Teko', sans-serif;
	position: relative;
	top: 67%;
	left: 40%;
	transform: translate(-50%, -50%);
}

#mainBatteryLevel {
	font-size: --BATTERY_LEVEL_LABEL;
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 105%;
    left: 73%;
    height: 40px;
    transform: translate(-50%, -50%);
}

#mainBatteryContainer {

	position: absolute;
    top: 43%;
    left: 51%;
    height: 31%;
    width: auto;
    display: flex;
}



#infoTableContainer {

	position: absolute;
    top: 42%;
    left: 6%;
    width: 50%;
}



#wholeFreqBtn {

	height: 6rem;
	position:absolute;
	top: 55%;
	left: 75%;

}


.nav-tabs .nav-item .nav-link {
	background-color: rgb(255, 157, 45);
	color: white;
}

.nav-tabs .nav-item .nav-link.active {
	color: black;
	background-color: #f1dbb6;
}



